* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100vh;
}
main {
    text-align: center;
    width: 100%;
}

body {
    background-color: #111;
    color: #eee;
    font-family: calibri;
   min-height: 100%;

}

#progress-bar {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #248bf5;
}

progress::-moz-progress-bar { background-color:  #248bf5; }
progress::-webkit-progress-value { background-color:  #248bf5; }

@font-face{
font-family: neon;
src: url(https://dl.dropbox.com/s/df4zz9y6lmhocr9/England.otf?dl=0)
}


#context-form > * {
    display: block;
    margin: 15px auto ;
}

#context-form > button {
  color: #fff;
  border: 1px solid #248bf5;
  padding: 5px 10px;
}

#context-form > input {
  width: 70%;
  max-width: 800px;

}

form input {
    color: #fff;
    border: none;
    border-bottom: 1px solid #248bf5;
    background-color: transparent;
}

form > input:focus{
    outline: none;
}

form button {
  background-color: transparent;
  border: none;
  color: #fff;
}

#msg-form {
  display: flex;
}
#msg-form > div {
  width: 30%;
}

#msg-form > input {
  width: 70%;
}

#msg-form button {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #248bf5;
}
.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: rgb(60, 60, 60);
  color: darkgray;
}

/* iMessage CSS by Matt Smith */
.imessage {
    background-color: #fff;
    border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1rem;
    margin: 0 auto 1rem;
    max-width: 800px;
    padding: 0.5rem 1.5rem;
    min-height: 100px;
  }

  
  .imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
  }
  
  .imessage p::before,
  .imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }
  
  p.from-me {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff; 
  }
  
  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
  }
  
  p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }
  
  p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
  }
  
  p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
  }
  
  p[class^="from-"].emoji::before {
    content: none;
  }
  
  .no-tail::before {
    display: none;
  }
  
  .margin-b_none {
    margin-bottom: 0 !important;
  }
  
  .margin-b_one {
    margin-bottom: 1rem !important;
  }
  
  .margin-t_one {
    margin-top: 1rem !important;
  }

  .imessage > form {
    width: 100%;
  }

  .imessage > input {
    display: flex;
  }
  
  /* general styling */
  @font-face {
    font-family: "SanFrancisco";
    src:
      url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
      url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
  }
  
  body {  
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    font-weight: normal;
    margin: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
    overflow: auto;
  }
  
  h1 {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    color: #666;
    font-weight: normal;
    position: absolute;
    top: 30%;
    padding-bottom: 1.5rem;
    font-size: 3rem;
  }
  
  .comment {
    color: #222;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    max-width: 100%;
    padding: 0;
  }
  
  @media screen and (max-width: 800px) {
    body {
      margin: 0 0.5rem;
    }
  
    .container {
      padding: 0.5rem;
    }
  
    .imessage {
      font-size: 1.05rem;
      margin: 0 auto 1rem;
      max-width: 600px;
      padding: 0.25rem 0.875rem;
    }
  
    .imessage p {
      margin: 0.5rem 0;
    }
  }



  .fadeout-msg {
    opacity: 0;
    transition: 1s opacity;
  }

  
  .fadein-msg {
    opacity: 1;
    transition: 1.5s opacity;
  }



